/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "roboto";
    src        : url("../font/roboto.woff2") format("woff2"),
        url("../font/roboto.woff") format("woff");
}

@font-face {
    font-family: "robotoi";
    src        : url("../font/robotoi.woff2") format("woff2"),
        url("../font/robotoi.woff") format("woff");

}

/* ******************************** */



main{
    height: 1000px;
    font-family: "roboto";

}

/* alineacion de cada caja a drcha e izq */
.composicion{
    width: 700px;
    display: flex;
}

/* colores y tamaño circulos */
.compo_circulos1{
   background-color: #D94545; 
   width: 64px;
   height: 64px;
   border-radius: 50%;
}

.compo_circulos2{
background-color:#E29A9A ;
    width: 104px;
    height: 104px;
    border-radius: 50%;
}

/* colores formulario y margenes padding */

.compo_formuTitulo{
    color:#D94545;
}

input{
    background-color: #E29A9A;
    border: 3px solid #D94545;
    padding: 5px;
    margin: 15px 0 15px 0;
}

button{
    background-color: #E29A9A;
    border: 3px solid #D94545;
    padding: 5px 20px 5px 20px;
    width: 50%;

    position:absolute;
    right: 0;
    
}

/* direccion zona izq y zona drcha */


.compo_derecha, .compo_izq{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

/* disposicion circulos */
.compo_cajaCirculos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

/* distribucion formulario */

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* distribuir el espacio de
la flecha y el boton enviar */
.compo_formFlechaBoton{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    position: relative;
}

.flecha{
    position: absolute;
       left: 35%;
  
}

/* caja izquierda */
.compo_izq{
    border: 3px solid #D94545;
    border-radius: 5px;   
}
p{
    margin: 20px;
}